:host {
  display: block;
  width: 100%;


}

.background-gradient-color {
  ::ng-deep {
    .p-button {
      background: var(--background-gradient);
    }
  }
}

.primary-background-color {
  ::ng-deep {
    .p-button {
      background-color: var(--primary-color);
    }
  }
}

.secondary-background-color {
  ::ng-deep {
    .p-button {
      background-color: var(--secondary-color);
    }
  }
}

.none-background-color {
  ::ng-deep {
    .p-button {
      border: 1px solid #D0D5DD;
      color: #1F1F22;
      background-color: var(--white-color);
    }
  }
}

.without-border {
  ::ng-deep {
    .p-button {
      border: 0;
    }
  }
}

.inherit-background-color {
  ::ng-deep {
    .p-button {
      color: #1F1F22;
      background-color: inherit;
    }
  }
}

.base-button {
  width: 100%;

  p-button {
    width: 100%;
    flex-grow: 1;

    ::ng-deep {
      .p-button {
        width: 100%;
      }
    }
  }
}
