<div class="sign-up flex flex-column">
  <div class="sign-up__header flex flex-column align-items-center">
    <h1 class="heading-2-bold">Create a new account</h1>
    <p class="sign-up__paragraph base-regular">To use Connectify, Please enter your details.</p>
  </div>
  <div class="w-full mt-5 flex flex-column align-items-center justify-content-center gap-5">
    <div class="sign-up__inputs">
      <app-base-input [label]="'Name'"></app-base-input>
      <app-base-input [label]="'Email'"></app-base-input>
      <app-base-input [label]="'Password'"></app-base-input>
    </div>
    <div class="sign-up__button-group flex flex-column align-items-center justify-content-center">
      <app-base-button [buttonLabel]="'Sign Up'"></app-base-button>
      <app-base-button [buttonColor]="noneButtonColor" [buttonLabel]="'Sign up with Google'"
                       [iconPath]="'assets/icons/icons8-google.svg'"></app-base-button>
    </div>
    <div class="w-full base-regular text-purple-600 flex align-items-center justify-content-center">
      <span>Don't have an account?</span>&nbsp;<a class="text-purple-800" href="">Log in</a>
    </div>
  </div>
</div>
