:root {
  /* Основные цвета, общие для обеих тем */
  --primary-color: #877EFF;
  --secondary-color: #FFB620;

  /* Светлая тема */
  --bg-color: #FFFFFF;             /* Основной цвет фона для светлой темы */
  --text-color: #000000;           /* Основной цвет текста для светлой темы */
  --light-bg-color: #EFEFEF;       /* Вторичный цвет фона для светлой темы */
  --light-text-color: #7878A3;     /* Вторичный цвет текста для светлой темы */
  --border-color: #5C5C7B;         /* Цвет границ для светлой темы */
}

.dark-theme {
  /* Темная тема */
  --bg-color: #000000;             /* Основной цвет фона для темной темы */
  --text-color: #FFFFFF;           /* Основной цвет текста для темной темы */
  --light-bg-color: #09090A;       /* Вторичный цвет фона для темной темы */
  --light-text-color: #7878A3;     /* Вторичный цвет текста для темной темы */
  --border-color: #1F1F22;         /* Цвет границ для темной темы */
}
