:host {
  display: block;
}

.p-component {

}

.base-input__gap {
  //gap: 0.75rem;
}


.base-input {
  &__text-field {
    height: 48px;
    width: 400px;
    border-radius: 8px;
    background-color: var(--bg-color);
    outline: none;
    color: var(--second-text-color);
  }

  &__label {
    height: 22px;
    width: 100%;
    color: var(--second-text-color);
  }

  #formname-help {
    color: rgba(239, 41, 41, 0.87); // TODO заменить на нормальный цвет по гайду
  }

  &__error-container {
    height: 20px;
  }
}
