:host {
  display: block;
  width: 100%;
}


.root-layout {
  min-height: 100vh;
  height: 100%;

  &__header {
    display: none;
  }

  &__bottom-bar {
    display: none;
  }
}


@media (max-width: 768px) {
  .root-layout__header {
    display: block;
  }

  .root-layout__bottom-bar {
    display: block;
  }
}
